.shape {
  width: 100px;
  height: 100px;
  background-color: white;
}

.circle {
  border-radius: 50%;
}

.triangle {
  background-color: inherit;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}

.triangle.blue {
  background-image:
    linear-gradient(to bottom right, transparent 50%, hsl(240, 90%, 60%) 0),
    linear-gradient(to top right, hsl(240, 90%, 60%) 50%, transparent 0);
}

.triangle.red {
  background-image:
    linear-gradient(to bottom right, transparent 50%, hsl(0, 90%, 60%) 0),
    linear-gradient(to top right, hsl(0, 90%, 60%) 50%, transparent 0);
}

.triangle.yellow {
  background-image:
    linear-gradient(to bottom right, transparent 50%, hsl(60, 90%, 60%) 0),
    linear-gradient(to top right, hsl(60, 90%, 60%) 50%, transparent 0);
}

.triangle.green {
  background-image:
    linear-gradient(to bottom right, transparent 50%, hsl(120, 90%, 35%) 0),
    linear-gradient(to top right, hsl(120, 90%, 35%) 50%, transparent 0);
}

.circle.blue, .square.blue {
  background-color: hsl(240, 90%, 60%);
}

.circle.red, .square.red {
  background-color: hsl(0, 90%, 60%);
}

.circle.yellow, .square.yellow {
  background-color: hsl(60, 90%, 60%);
}

.circle.green, .square.green {
  background-color: hsl(120, 90%, 35%);
}